<!--New-->
<div class="container-new">
  <div class="div-secundaria">
    <div>
      <h1>Novo</h1>
    </div>
    <div>
      <mat-card class="example-card position-cards">
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Título </mat-label>
            <input [(ngModel)]="titulo" matInput />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Conteúdo</mat-label>
            <textarea matInput [(ngModel)]="conteudo"></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="adicionarCard()" mat-mini-fab color="primary" mat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_circle"></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div></div>
  </div>
</div>

<!--To do-->
<div class="container-todo">
  <div class="div-secundaria">
    <div>
      <h1>To Do</h1> 
    </div>
    <div *ngFor="let item of cardsToDo"> 
      <mat-card class="example-card position-cards">
        <mat-card-title>{{ item.titulo }}</mat-card-title>
        <mat-card-content>
          <p>{{ item.conteudo }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="deletarCard(item.id)" mat-mini-fab color="primary" mat-button class="btn-cards">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
          </button>
          <button (click)="moverCard('Doing', item)" mat-mini-fab color="primary" mat-button class="btn-cards">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_forward"></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<!--Doing-->
<div class="container-doing">
  <div class="div-secundaria">
    <div>
      <h1>Doing</h1>
    </div>
    <div *ngFor="let item of cardsDoing">
      <mat-card class="example-card position-cards">
        <mat-card-title>{{ item.titulo }}</mat-card-title>
        <mat-card-content>
          <p>{{ item.conteudo }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="moverCard('ToDo', item)" mat-mini-fab color="primary" mat-button  class="btn-cards">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>
          </button>
          <button (click)="deletarCard(item.id)" mat-mini-fab color="primary" mat-button  class="btn-cards">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
          </button>
          <button (click)="moverCard('Done', item)" mat-mini-fab color="primary" mat-button  class="btn-cards-2mg">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_forward"></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div></div>
  </div>
</div>

<!--Done-->
  <div class="container-done">
   <div class="div-secundaria">
    <div>
      <h1>Done</h1>
    </div>
    <div *ngFor="let item of cardsDone">
      <mat-card class="example-card position-cards">
        <mat-card-title>{{ item.titulo }}</mat-card-title>
        <mat-card-content>
          <p>{{ item.conteudo }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="moverCard('Doing', item)" mat-mini-fab color="primary" mat-button  class="btn-cards">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>
          </button>
          <button (click)="deletarCard(item.id)" mat-mini-fab color="primary" mat-button  class="btn-cards">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
          </button>
 
        </mat-card-actions>
      </mat-card>
    </div>
    <div></div>
  </div>
</div>