.container-new{
  flex-direction: row;  
  margin: 20px;  
  display: inline-block; 
  position: fixed;
}

.container-todo{
  flex-direction: row;  
  margin-left: 390px; 
  margin-top: 20px;  
  display: inline-block; 
  position: fixed;
}

.container-doing{
  flex-direction: row; 
  margin-left: 771px; 
  margin-top: 20px; 
  display: inline-block; 
  position: fixed;
}

.container-done{
  flex-direction: row; 
  margin-left: 1126px; 
  margin-top: 20px; 
  display: inline-block; 
  position: fixed;
}

.div-secundaria{
  text-align: -webkit-center;
}

.position-cards{
  width: 241px; 
  margin-top: 10px;
}

.btn-cards{
  margin: 5px
}

.btn-cards-2mg{
  margin: 2px !important;
} 